<div class="commentpost">
	<%= form_with(model: [bike, comment]) do |f| %>
	<%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
	<%= f.submit "投稿", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
	<% end %>
</div>
