<% if bike.like_by?(current_user) %>
<%= link_to bike_likes_path(bike),method: :delete do %>
<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<%= bike.likes.count %>
<% end %>
<% else %>
<%= link_to bike_likes_path(bike),method: :post do %>
<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
<%= bike.likes.count %>
<% end %>
<% end %>