<div class="about">
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>サイトの使い方</h1><br>
		<ul>
			<li>写真をベースとしたSNSなので、従来のブログなどとは違い、シンプルな仕様にすることで投稿のしやすくしています！</li><br>
			<li>他のユーザーの投稿も気になるキーワードやタグで検索して、見たい写真を簡単に検索できます。</li><br>
			<li>愛車のカスタムや愛用品を写真で簡単に共有することができ、他のユーザーの投稿を参考にすることも出来ます。<br>
				また、日常のバイクに関わる出来事など自由に投稿ができます。</li><br>
			<li>ユーザー同士のアクション機能（フォロー、いいね！、コメント）で気になるユーザーとの交流や情報交換をすることもできます！</li>
		</ul>
	</div>
</div>
</div>