/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	box-sizing: border-box;
}

.login, .signup{
	margin-bottom: 30px;
	padding: 15px;
	background-color: #a0d8ef;
}

body{
	background-color: #dcdcdc;
}

.container-fluid{
	padding: 0;
	min-height: 700px;
}

.back{
	box-shadow: 0 0 8px;
	margin: 100px auto;
	width: 30%;
	padding-bottom: 20px;
	background-color: #ffffff;
	text-align: center;
}

.about{
	background-color: #ffffff;
	box-shadow: 0 0 8px;
	margin: 50px auto;
	width: 70%;
}

.title{
	box-shadow: 0 0 8px;
	background-color: #ffffff;
	padding: 10px;
	text-align: center;
}

.header, .top{
	font-size: 40px;
	font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

footer{
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0; /*下に固定*/
}
