// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite{
	background-color: #ffffff;
	box-shadow: 0 0 8px;
	margin: 50px auto;
	width: 40%;
	padding: 15px 0;
}