// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image{
	background-image: image-url("cb650rimage.jpeg");
	height: 800px;
 	background-size: cover;
}
.title{
	font-size: 40px;
	font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
